#resumoProdutos h4 {
    word-break: break-word;
    overflow-wrap: anywhere;
    cursor: pointer;
  }
  #resumoProdutos img {
    cursor: pointer;
  }
  button.quant-btn {
    background-color: #facc15;
    color: black;
    font-weight: bold;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quant-btn {
  background-color: #facc15;
  color: black;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

#resumoProdutos {
  scrollbar-width: thin;  /* A largura da barra de rolagem */
  scrollbar-color: #ffcc00 #f5f5f5;  /* Cor da barra de rolagem e do fundo */
}

#resumoProdutos::-webkit-scrollbar {
  width: 8px;  /* Largura da barra de rolagem */
}

#resumoProdutos::-webkit-scrollbar-thumb {
  background-color: #ffcc00;  /* Cor da parte "móvel" da barra */
}

#resumoProdutos::-webkit-scrollbar-track {
  background: #f5f5f5;  /* Cor do fundo da barra */
}
